@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    background: #f8f9fa;
}
.brand-logo, .nav-links li, .nav-links a, .nav-button
{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-transform: uppercase;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: #24252A;
}
.nav-links
{
    list-style: none;
}
.nav-links li
{
    display: inline-block;
    padding: 0 20px;
}
.nav-links li a
{
    
    cursor: pointer;
    text-decoration: none;
}
.nav-links li a:hover
{
    color: red;
    border-bottom: 3px solid red;
}

.nav-button
{
    padding: 9px 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border: none;
    background: none;
}
.nav-button:hover
{
    color: red;
}
@media only screen and (max-width: 1260px) {
    .user_panel, .desktop__menu {
      display: none;
    }

}
@media screen and (min-width: 1260px) {
    .open
    {
        display: none;
    }
}

.open
{
    cursor: pointer;
    text-decoration: none;
}
.overlay
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background: #24252A;
    overflow-x: hidden;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.overlay__content
{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overlay__content a
{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 26px;
    color: #edf0f1;
    text-transform: uppercase;
    padding: 15px;
    transition: all 0.3s ease 0s;
}
.overlay a:hover
{
    color: red;
}
.overlay .close
{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}
.overlay .close:hover
{
    color: white;
}
a.mobile_brand
{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 17px;
    top: 5%;
    left: 5%;
    margin-bottom: 1%;
}
a.open
{
    font-size: 16px;
    text-decoration: none;
    padding: 1% 2%;
    background: #dae0e5;
    color: #24252A;
    font-family: 'Montserrat', sans-serif;
}


/* Search Panel */
.search_section
{
    margin: 3% 0;
    width: 100%;
}
.search_panel
{
    width: 100%;
    position: relative;
}
.search_panel input[type='text']
{
    width: 80%;
    height: 35px;
    outline: none;
    padding-left: 1em;
    font-family: 'Montserrat', sans-serif;
    border-radius: none;
}
.search_panel button
{
    position: absolute;
    width: 20%;
    background-color: #24252A; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    text-transform: uppercase;
    right: 6px;
    padding-right: 6px;
    padding-left: 6px;
}
.search_panel button:active, .search_panel button:visited
{
    outline: none;
    border: none;
}
.card
{
    height: 100%;
}
.card_body_fixed_height
{
    height: 50%;
}
.article-col, .comment-col
{
    margin-bottom: 5%;
}
.sidebar-col
{
    margin-bottom: 5%;
}
.category-col
{
    margin-bottom: 5%;
}
.article-card div a,.article-card div a h5
{
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #24252A;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.category-card div a,.series-card div a, .article-category a, .article-author a, .article-comment a, .article-date p
{
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #24252A;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.article-date p
{
    margin: 0;
}
.article-card div a h5:hover,.article-category a:hover,.article-author a:hover,.article-date p:hover, .article-comment a:hover
{
    cursor: pointer;
    color: red;
}
.article-card div p
{
    font-family: 'Noto Sans JP', sans-serif;
}
nav .breadcrumb
{
    font-family: 'Noto Sans JP', sans-serif;
}
.article-card div a h5
{
    text-align: center;
}
.article-card .footer
{
    text-align: right;
}
.category-card div a, .series-card div a
{
    text-align: left;
}
footer
{
    min-height: 100px;
    background: #24252A;
    margin-top: 5%;
    padding: 2% 0;
}
footer p
{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
}

/* Comment */
.comment-list
{
    list-style: none;
}
.comment-list li
{
    margin: 4% 0;
}
.comment p
{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.9em;
}
.comment h6
{
    font-family: 'Noto Sans JP', sans-serif;
    display: inline-block;
    font-size: 1em;
}
.comment small
{
    float: right;
    font-family: 'Noto Sans JP', sans-serif;
}

.comment-card div .card-title
{
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #24252A;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.comment-card div .card-title:hover
{
    color: red;
}
.content-col
{
    margin-top: 1vw;
}
/* Comment End */
